.leftMenuWrapper {
    background: linear-gradient(0deg , #ba54f5, #e14eca);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 230px;

    .leftMenuTitle {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 20px;
    }
}

.leftMenuList {
    list-style: none;
}
