.app {
  border: solid 1px red;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.appContent {
  border: solid 5px green;
  width: 100%;
}

.pageContentContainer {
  border: solid 3px orange;
  height:calc(100% - 66px);
}

